<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <span class="title pad-left-right pull-left">Contacts</span>
    </div>
    <div class="row">
      <div class="pull-right pad-left-right">
        <a class="btn btn-success" style="cursor: pointer">New Contact</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <cms-contact-item
      *ngFor="let contactEl of contacts"
      [contact]="contactEl"
      (contactSelected)="onSelected(contactEl)"
    ></cms-contact-item>
  </div>
</div>
