<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <span class="title pad-left-right pull-left">Contacts</span>
    </div>
    <div class="row">
      <div class="pull-right pad-left-right">
        <a class="btn btn-success" style="cursor: pointer">New Contact</a>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <a
      href="#"
      class="list-group-item clearfix"
      *ngFor="let contact of contacts"
    >
      <div class="pull-left">
        <h4 class="list-group-item-heading">{{ contact.name }}</h4>
      </div>
      <span class="pull-right"
        ><img
          [src]="contact.imageUrl"
          alt="{{ contact.name }}"
          class="img-responsive"
          style="max-height: 50px"
      /></span>
    </a>
  </div>
</div>
