<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-xs-12">
        <h1>Contact Name</h1>
      </div>
      <div class="col-xs-12 middle-align">
        <div class="pull-left">
          <img src="" alt="" class="img-responsive" style="max-height: 150px" />
        </div>
        <div class="pull-right">
          <a
            href="#"
            class="btn btn-sm btn-primary"
            style="margin-left: 5px; cursor: pointer"
            >Edit</a
          >
          <a
            href="#"
            class="btn btn-sm btn-danger"
            style="margin-left: 5px; cursor: pointer"
            >Delete</a
          >
        </div>
      </div>
    </div>
  </div>
  <div class="panel-body">
    <p>
      <b>Email: </b>
      <br />
      <b>Phone: </b>
    </p>
  </div>
</div>
